body {
    background-color: #EFEFEC;
    font-family: "Inter", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

.TOP-BAR {
    background-color: #31527A;


}

.TOP-BAR h1{
    color: #EFEFEC;
}

.links{
}

.links li {
    font-size: 20px;
    font-family: "Inter", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;


}

.links li a{
    color: #EFEFEC;
}

.links li a:hover{
    opacity: 0.6;
    color: #74A5B6;
}

.content{
    font-family: "Inter", BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #31527A;
}

.content li{
    font-size: 20px;
}

.content h3{
    font-size: 30px;
}

.cars h1{
    font-size: 30px;
    color: #31527A;
}

.cars p{
    font-size: 20px;
}

.car h2{
    color: #31527A;
    font-size: 25px;
}

.sports_car{
    background-color: #A4A79C;
}

.sports_car li ul {
}

.sports_car h3{
    font-size: 25px;
    color: #8696E1;
}

#lambo{
    background-color: #74A5B6;
}

#lambo h3{
    color: #EFEFEC;
    font-size: 25px;
}

#bugatti{
    background-color: #31527A;
}
#bugatti h3{
    color: #EFEFEC;
    font-size: 25px;
}
#maserati{
    background-color: #A4A79C;
}
#maserati h3{
    color: #EFEFEC;
    font-size: 25px;
}

footer{
    background-color: #31527A;
    color: #8696E1;
}